* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Aladin";
  text-align: center;
}

h1 span#the {
  position: relative;
  font-size: 64px;
}

h1 span#the::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  right: 120px;
  top: 32px;
  background: white;
}

h1 span#the::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  left: 120px;
  top: 32px;
  background: white;
}

h1 span#dinner {
  font-size: 96px;
}

h2 {
  font-size: 30px;
  font-family: "Monoton";
}

li {
  font-family: "Koulen";
  list-style: none;
}

body {
  width: 100vw;
  height: 150vh;

  background: url("./images/prism.png") no-repeat top left/100vw 160vh;
}

#container {
  display: flex;
  justify-content: center;
  height: 100%;
}

#menu {
  width: 1000px;
  max-width: 1000px;
  height: 100%;
  border: white solid 2px;
}

header {
  display: flex;
  justify-content: center;
  height: 240px;
}

main {
  display: flex;
  flex-flow: row wrap;

  height: 100%;
}

section#entrees {
  width: 100%;
}

section ul li {
  font-size: 26px;
}

section#favs-and-apps {
  width: 60%;
}

section ul li {
  font-size: 26px;
}

section#drinks {
  width: 40%;
}

section ul li {
  font-size: 26px;
}
