* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 150vh;

  background: url("./images/prism.png") no-repeat top left/160vh;
}

#container {
  height: 100%;
}

#menu {
  height: 100%;
}

main {
  display: flex;
  flex-flow: row wrap;

  height: 100%;
}

section#entrees {
  width: 100%;
}

section#favs-and-apps {
  width: 60%;
}

section#drinks {
  width: 40%;
}
