* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Aladin";
  text-align: center;
}

h1 span#the {
  position: relative;
  font-size: 64px;
}

h1 span#the::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  right: 120px;
  top: 32px;
  background: white;
}

h1 span#the::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  left: 120px;
  top: 32px;
  background: white;
}

h1 span#dinner {
  font-size: 96px;
}

h2 {
  display: flex;
  font-size: 30px;
  font-family: "Monoton";
  justify-content: center;
}

h2 span#entrees {
  position: relative;
}

h2 span#entrees::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 5px;
  left: -115px;
  top: 21px;
  background: white;
}

h2 span#entrees::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 5px;
  right: -115px;
  top: 21px;
  background: white;
}

li {
  font-family: "Koulen";
  list-style: none;
}

body {
  width: 100vw;

  background: url("./images/prism.png") no-repeat top left/cover;
}

#container {
  display: flex;
  justify-content: center;
}

#menu {
  width: 1000px;
  max-width: 1000px;
  height: 100%;
  border: white solid 2px;
}

header {
  display: flex;
  justify-content: center;
  height: 240px;
  background: url("images/chicken-dish.png") top -30px left -30px / auto 150px
      no-repeat,
    url("./images/chicken-dish.png") top -30px right -30px / auto 150px
      no-repeat;
}

main {
  display: flex;
  flex-flow: row wrap;

  height: 100%;
}

section#entrees {
  width: 100%;

  border: 5px white solid;
}

section ul li {
  font-size: 26px;
}

section#favs-and-apps {
  width: 60%;
}

section ul li {
  font-size: 26px;
}

section#drinks {
  width: 40%;
}

section ul li {
  font-size: 26px;
}
